.skillSec {
  overflow: hidden;
  width: 100vw;
  max-width: 65rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}
.skillTitle {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.skillDesc {
  font-size: 1.2rem;
  max-width: 80%;
  font-weight: 360;
}
.skillBars {
  margin: 1.5rem;
  width: 100vw;
  max-width: 80%;
  text-align: left;
}
.skillBar {
  display: flex;
  margin: 1rem;
  padding: 1.5rem 2rem;
  background: rgb(50, 50, 50);
  border-radius: 0.7rem;
}
.skillBarImg {
  object-fit: cover;
  height: 4.5rem;
  width: 4.5rem;
}
.skillBarText {
  margin: 0 1rem;
}
.skillBarText > p {
  font-size: 1rem;
  font-weight: 200;
}
.skillBarText > h3 {
  font-size: 1.4rem;
  margin-bottom: 0.4rem;
}
@media screen and (max-width: 720px) {
  .skillBarText > p {
    font-size: 2.1vw;
  }
}
@media screen and (max-width: 480px) {
  .skillBarText > p {
    font-size: 3.8vw;
  }
  .skillBarImg {
    height: 2.25rem;
    width: 2.25rem;
  }
  .skillBarText > h3 {
    font-size: 5vw;
  }
}
